[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pipenv = "*"
django-service-objects = "*"
pypdf2 = "*"
openpyxl = "*"
django-sendfile = "*"
xlrd = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
